<header class="netflix-header">
    <div class="container">
        <!-- Logo -->
        <a href="#" class="netflix-logo">
            <img src="https://www.netflix.com/static/images/nficon.png" alt="Netflix">
        </a>

        <!-- Navegación principal -->
        <nav class="netflix-nav">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Series</a></li>
                <li><a href="#">Películas</a></li>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">Mi lista</a></li>
            </ul>
        </nav>

        <!-- Barra de búsqueda -->
        <div class="netflix-search">
            <input type="text" placeholder="Buscar títulos..." class="search-input">
            <button class="search-button"><i class="fas fa-search"></i></button>
        </div>

        <!-- Opciones de usuario -->
        <div class="netflix-user d-flex align-items-center">
            <button *ngIf="!isAuthenticated" class="user-button btn btn-primary" (click)="loginWithTMDB()">INICIAR
                SESIÓN</button>
            <!-- Icono de perfil si está autenticado -->
            <div class="user-profile d-flex align-items-center ms-3 " [routerLink]="['/footer']">
                <i class="bi bi-person-circle" style="font-size: 40px;"></i> <!-- Icono de perfil -->
                <span class="">Usuario</span> <!-- Opcional: Mostrar nombre de usuario -->
            </div>
        </div>

    </div>
</header>