<footer class="netflix-footer">
    <div class="container">
      <!-- Sección de enlaces -->
      <div class="footer-sections">
        <div class="footer-column">
          <h4>Acerca de</h4>
          <ul>
            <li><a [routerLink]="['main']">Nosotros</a></li>
            <li><a [routerLink]="['main']">Trabaja con nosotros</a></li>
            <li><a [routerLink]="['main']">Prensa</a></li>
            <li><a [routerLink]="['main']">Relaciones inversores</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Soporte</h4>
          <ul>
            <li><a [routerLink]="['main']">Centro de ayuda</a></li>
            <li><a [routerLink]="['main']">Contacto</a></li>
            <li><a [routerLink]="['main']">Términos de uso</a></li>
            <li><a [routerLink]="['main']">Privacidad</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Explorar</h4>
          <ul>
            <li><a [routerLink]="['series']">Series</a></li>
            <li><a [routerLink]="['peliculas']">Películas</a></li>
            <li><a [routerLink]="['main']">Categorías</a></li>
            <li><a [routerLink]="['peliculas']">Novedades</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Síguenos</h4>
          <ul class="social-icons">
            <li><a href="https://youtu.be/y5P-FLrbvcY?si=8z_PIHUUFaOiRkPd" class="fab fa-facebook-f"></a></li>
            <li><a href="https://youtu.be/y5P-FLrbvcY?si=8z_PIHUUFaOiRkPd" class="fab fa-twitter"></a></li>
            <li><a href="https://youtu.be/y5P-FLrbvcY?si=8z_PIHUUFaOiRkPd" class="fab fa-instagram"></a></li>
            <li><a href="https://youtu.be/y5P-FLrbvcY?si=8z_PIHUUFaOiRkPd" class="fab fa-youtube"></a></li>
          </ul>
        </div>
      </div>
  
      <!-- Línea divisoria -->
      <hr>
  
      <!-- Derechos de autor -->
      <div class="footer-copyright">
        <p>&copy; 2025 SkibidiFlix. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>