<ngb-carousel >
  <ng-template ngbSlide *ngFor="let movie of movies; let i = index">
    <div
      class="carousel-item-content"
      [style.background-image]="'url(' + movie.backdropUrl + ')'"
    >
      <div class="item-info">
        <h2>{{ movie.title }}</h2>
        <p><strong>Nota media:</strong> {{ movie.voteAverage }}</p>
        <p><strong>Fecha de Publicación:</strong> {{ movie.releaseDate }}</p>
        <p class="synopsis">{{ movie.overview }}</p>
        <button class="watch-now-button">Ver Ahora</button>
      </div>
    </div>
  </ng-template>
</ngb-carousel>


